html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  font-family: avenir next,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

#app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  background-color: white;
  padding: 0px 20px;
}

nav>h1 {
  flex-grow: 1;
}

nav>div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  background-color: #126cda;
  border-color: #126cda;
  color: #fff;
  border-radius: 30px;
  padding: 0.5rem 2rem;

  text-decoration: none;

  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
}

.btn-sm {
  padding: 0px;
}


.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

.content {
  display: flex;
  align-content: space-around
}

.box {
  width: 300px;
  margin: 30px;
  box-shadow: 0 12px 44px 0 rgba(0,0,0,.06);
  background-color: #fff;
  padding: 15px;
  color: rgba(74,74,74,.9);
  letter-spacing: 1px;
}

.box>h1 {
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.row {
  display: flex;
  margin: 0 15px;
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.row:last-of-type {
  margin-bottom: 20px
}

.studentName {
  flex-grow: 1;
}

input {
  display: block;
  padding: 10px;
}

.form-group {
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.hcenter {
  text-align: center;
}

.btn-wrapper {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-row {
  display: flex;
  margin: 15px;
}

.bottom-row>.name {
  flex:1
}

.bottom-row>.mark {
  margin-left: 20px;
  width: 40px;
}

.add-btn-wrapper {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.row:hover {
  background-color: lightgray;
}

.arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 200px;
  color: rgba(74,74,74,.9);
}

.text-center {
  text-align: center;
}