<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta id="csrf-token" content="<%= csrfToken %>">
  <title>Sign Up</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <div class="box signin">
      <h1>Sign Up</h1>
      <form action="/signup" method="post">
        <div class="form-group">
          <div>
            <label for="email">Email</label>
          </div>
          <div>
            <input type="email" class="text-input" id="email" placeholder="Email" required>
          </div>
          <div class="error error-sm">
            This email has already an account.
          </div>
        </div>
        <div class="form-group">
          <div>
            <label for="password">Password</label>
          </div>
          <div>
            <input type="password" class="text-input" id="password" placeholder="Password" required>
          </div>
        </div>
        <div class="btn-wrapper text-center">
          <button type="submit">Create an account</button>
        </div>
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script.js"></script>
</body>

</html>